//nav stylings go here!
nav {
  display: flex;
  position: fixed;
  right: 0;
  top: 0;
  font-size: 2em;
  justify-content: flex-end;
  padding-right: 1em;
  background-color:  #111111;
  z-index: 1;
  width: 100%;
  opacity: .8
}

.navItem {
  padding: .5em .3em .5em .3em;
}

.navItem:hover {
  color: #babbbc;
  cursor: pointer;
}
